html{
   box-sizing: border-box;
}
*:before,*:after{
   box-sizing: border-box;
}
:root{
   --color-bgcolor:#F5F4FA;
   --color-primary: #2a2a2a;
   --color-secondary: #2196F3;
   --color-tertiary: #f5f5f5;
   --color-href:#212121;
   --color-href-hover:  #2196F3;
   --color-contaktLink: #757575;
}
.for-bg{
   background-color: var(--color-bgcolor);
}

.conteiner{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
body{
   /* color: #2a2a2a; */
   margin: 0;
}
/* button */
.icon{
   margin-left: 10px;
   width: 20px;
   height: 20px;
   background-size: contain;

}
button{
   background-color: var(--color-secondary);
   color: var(--color-tertiary);
   border:2px solid var(--color-secondary) ;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   padding: 10px 30px;
   text-align: center;
   align-items: center;
}
.butn__text{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
}
button:hover{
   background-color: var(--color-tertiary);
   color: var(--color-secondary);
   border: 2px solid var(--color-secondary);
}

/* list */
ul{
   margin: 0;
   list-style: none;
   display: flex;
}
.navigate__item{
   display:block;
   align-items: center;
   margin-right: 40px;
}
.navigate__item:hover{
   color: var(--color-href-hover);
}
.navigate__item :last-child{
   margin-right: 0;
}
a{
   text-decoration: none;
   color: var(--color-href);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   }
a:hover{
   color: var(--color-href-hover);
}
/* header */
.header{
   display: flex;
   padding: 0 15px;
}
.logo{
   margin:20px ;
}
.navigate{
   margin: 0 auto;
   width: 100%;
   max-width: 1200px;
   padding: 20px 0;
   
}
.contakts{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.contakts-img{
   margin-right: 10px;
}
.contakts__link{
   margin-right: 10px;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: var(--color-contaktLink);
}
/* hero */
.hero,
.contakt,
.help{
   
   background: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(imeg/hero-min.jpg);
   max-width: 1600px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   
   text-align: center;
   padding-top: 200px;
   padding-bottom:200px ;
   margin-bottom: 60px;
}
.contakt{
   background: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(imeg/contact-us_36325-2135.webp);
   background-repeat: no-repeat;
   max-width: 1600px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.help{
   background: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(imeg/воїни.jpg);
   background-repeat: no-repeat;
   max-width: 1600px;
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.hero__sub-titel{
   margin-bottom: 40px;
}
.hero__titel, 
.contakt__titel,
.help__titel{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--color-tertiary);
}
.hero__sub-titel,
.about__titel,
.mision__titel,
.report__title,
.team__titel{
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--color-primary);
   margin-bottom: 60px;
} 



.about, 
.mision, .report, .team{
   padding: 60px 0;
}

.about{
   display: flex;
}
.about__text{
   padding: 0 20px;
}
.team__items{
   flex-wrap: wrap;
}
.team__item{
   margin-right: 20px;
   margin-bottom: 20px;
   background-color: var(--color-tertiary);
   width: 210px;
   height: 260px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.team__item:last-child{
   margin-right: 0;
}


.mision{
   display:flex;
}
.mission__img-block{
   display: flex;
}
.mision__items{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.footer{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-primary);
   color: var(--color-tertiary)!important;
}
.footer__items{
   text-align: center;
   justify-content: left;
   
}
.row{
   padding: 50px 0;
}
.footer__item{
   margin-right: 40px;
   
}
.footer__contackt{
   padding-right: 50px;
}
.footer__contackt-items{
  display: flex;
}
.footer__contackt-item{
   padding: 0;
 }